# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

noose-app/.idea
noose-app/.ionic
noose-app/.sass-cache
noose-app/.sourcemaps
noose-app/.versions
noose-app/.vscode
noose-app/coverage
noose-app/dist
noose-app/node_modules
noose-app/platforms
noose-app/plugins
noose-app/www

noose-api/.vs
noose-api/node_modules