<ion-content>
  <h1>Reaction time test</h1>
  <p>When the red box turns green, click as quickly as you can.</p>
  <p>Click anywhere to start.</p>

  <ion-button (click)="ShowForm();StartLevel()"  *ngIf="!formVisibility">Start Game</ion-button>
  <div *ngIf="formVisibility">
  <div [style.background-color]="'red'" style="height:200px" *ngIf="!hasError" class="ion-text-center" >
    <h3>Wait...</h3>   
  </div>
  <div [style.background-color]="'green'" style="height:200px" *ngIf="hasError" (click)="IntervalCount()" class="ion-text-center" >
    <h3> CLICK ME!!</h3>
  </div>
  <div *ngIf="gameOver" class="ion-text-center">
    <h1>{{resultat}}</h1>
  </div>
</div>
</ion-content>